/* HEADER */
body {
    padding-right: 0px;
    overflow: auto;
}
header {
    box-shadow: 1.5px 1.5px 1.5px #afafb4;
    display: flex;
    flex-direction: column;
}
.topbar {
    background-color:#e67e21;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.topbar__text {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .9em;
    margin: 5px 0px;
}
.navbar {
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    background-color:#000000;
}
.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 0px;
}
.logo_header {
    margin: 0px;
}
.logo_header img {
    width: 60%;
    height: 60%;
}
.navbar-toggler {
    padding: 0px;
}
.menu_hamburguesa {
    width: 30px;
    height: 30px;
}
.navbar-brand {
    margin-left: 50px;
}
.navbar-nav {
    display: flex;
    align-items: flex-start;
}
.offcanvas-body {
    padding: 8px;
}
.offcanvas-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
.section-redes {
    background-color: #e67e21;
    width: 100%;
    padding: 0px 40px;
    margin-bottom: 10px;
}
.close-button {
    padding: 0px 40px;
}   
.section-redes div {
    display: flex;
    padding: 5px 0px;
}
.section-redes div svg {
    color: #ffffff;
    padding-right: 10px;
}
.offcanvas-header button svg {
    color: #ffffff;
}
.nav-item {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    list-style: none;
    padding: 20px 0px;
    margin: 0px;
    font-weight: bold;
    color: #000000;
}
.nav-item a {
    text-decoration: none;
    color:#000000;
    letter-spacing: 1px;
}
.nav-item a:hover {
    opacity: 85%;
}
.accordion-item {
    border: None;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.accordion-header {
    display: inline-block;
}
.accordion-button {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.accordion-button::after {
    color: #000000;
}
.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #ffffff;
    box-shadow: None;
}
.accordion-button:not(.collapsed)::after {
    color: #000000;
}
.accordion-body {
    padding: 0px;
}
.productos {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.productos .nav-item {
    font-weight: 300;
}
.btn svg {
    width: 60px;
    height: 60px;
}

/* CARRITO DE COMPRAS */
.offcanvas {
    width: 33%;
}
.carrito_logo {
    background-color: #000000;
    border: None;
    padding: 0px;
    text-align: end;
}
.carrito_logo svg {
    color: #ffffff;
}
.carrito_logo span {
    background-color: #e67e21;
}
.header-carrito {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}
.offcanvas-title {
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.offcanvas-body {
    padding: 0px 40px;
}
.carrito_vacio {
    padding: 10px 0px;
    border: 1px solid #e67e21;
    border-radius: 30px;
    font-size: 1em;
    color: #e67e21;
}

.carrito__productos {
    padding-left: 0px;
}
.carrito__producto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    list-style: None;
    padding: 0px;
    margin-bottom: 20px;
}
.producto-img {
    width: 85px;
}
.producto-img img {
    width: 100%;
}
.producto-info {
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.producto-carrito-nombre {
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}
.producto-carrito-talle {
    color: #838282;
    font-style: italic;
}
.producto-carrito-precio {
    text-align: start;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
}
.container-cant-producto {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #cac9c9;
    border-radius: 30px;
    padding: 2px;
}
button {
    padding: 0px;
    border: None;
    background-color: #ffffff;
}
.container-cant-producto svg {
    border: None;
    cursor: pointer;
}
.container-cant-producto svg:hover {
    color: #e67e21;
}
.cant-producto__total {
    margin: 0px;
}
.eliminar-producto-logo {
    background-color: #ffffff;
    border: None;
    padding-right: 10px;
}
.eliminar-producto-logo img {
    width: 24px;
    height: 24px;
}
.eliminar-producto-logo img:hover {
    transition: all .7s;
    opacity: 80%;
}
.carrito__total {
    border-top: 2px solid #979393;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.total-precio {
    margin: 0px;
    font-size: 2.3em;
    font-weight: bold;
}
.total-cuotas {
    font-size: 1.2em;
    font-weight: bold;
    color: #e67e21;
}
.btn-iniciar-compra {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    display: inline-block;
    border: 3px solid #000000;
    border-radius: 30px;
}
.btn-iniciar-compra__text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0px;
    padding: 10px 0px;
}
.btn-iniciar-compra:hover {
    transition: all .5s;
    background-color: #ffffff;
    border-color: #000000;
    color: #000000;
    font-weight: bold;
}
/* INICIO */

/* INICIO - PRODUCTOS */

.section-products {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 150px 50px;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    padding: 0px 10px;
    margin-bottom: 30px;
}
.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product p {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-top: 10px;
}

/* IG */
.section-ig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.ig__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 95%;
    text-align: center;
}
.ig__content svg {
    width: 45px;
    height: 45px;
    color: #000000;
}
a {
    text-decoration: none;
}
.ig__title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: #000000;
    margin: 0px;
    padding-left: 15px;
}
.ig__title:hover {
    transition: all .7s;
    opacity: 80%;
}
.btn {
    margin-top: 15px;
    background-color:#2e2e2d;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #ffffff;
    width: 170px;
    height: 55px;
    border: 3px solid;
    border-radius: 30px;
}
.btn__text {
   margin-top: 4px;
}
.btn:hover {
    color:#2e2e2d;
    background-color: #ffffff;
    border-color:#2e2e2d;
    font-weight: bold;
}


/* INCIO - INFORMACIÓN COMPRAS */

.info-compras {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: start;
    padding: 60px 0px;
    background-color: #f5f5f5;
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
}
.info__tipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info__logo img {
    margin: 10px;
}
.info__logo svg {
    width: 80px;
    height: 80px;
}
.info__descripcion {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items:stretch;
}
.info__descripcion a {
    text-decoration: none;
}
.info__descripcion:hover {
    opacity: 80%;
    transition: all .5s;
}
.descripcion__titulo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    margin: 0px;
    color: #000000;
}
.descripcion__parrafo {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    margin: 0px;
    color: #2c2c2c;
}
/* INICIO - NEWSLETTER */
.section-newsletter {
    margin: 100px 0px;
}

.newsletter__title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.4em;
    font-weight: bold;
    color: #000000;
}
.newsletter__description {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
    margin: 0px;
    padding: 0px;
}
.form__email input {
    font-family: 'Josefin Sans',sans-serif;
    font-size: 1em;
    border: 1px solid #cac7c7;
    border-radius: 30px;
}

/* ALL SHOP*/

.breadcrumb {
    margin: 20px 20px;
}
.breadcrumb-item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
}
.breadcrumb-item a {
    text-decoration: none;
    color: #464545;
}
.section-allshop {
    display: flex;
    justify-content: center;
    margin: 0px 0px;
}
.container-filtrar {
    margin: 40px;
}
.filtrar__title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
}
.filtrar__categorias {
    padding: 0px;
}
.categoria {
    list-style: none;
    padding-bottom: 10px;
    font-size: 1.1em;
    text-transform: uppercase;
    cursor: pointer;
}
.categoria:hover {
    opacity: 80%;
}
.container-product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
}
.container-product a {
    text-decoration: none;
    margin: 50px 20px;
}
.card {
    width: 320px;
    justify-content: flex-start;
    box-sizing: content-box;
}
.card-img:hover {
    transition: all .7s;
    transform: scale(1.005, 1.005);
}
.card-body {
    text-align: center;
    height: auto;
}
.card-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
    font-weight: lighter;
    color: #1f1f1f;
    margin: 0px;
}
.card-cost {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    color: #000000;
    margin: 0px;
}
.card-text {
    font-family: 'Josefin Sans', sans-serif;
    color: #000000;
    font-size: .95em;
    margin: 0px;
    margin-bottom: 15px;
}
.seleccionar-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-añadir-carrito {
    background-color:#000000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .7em;
    text-transform: uppercase;
    color: #ffffff;
    width: 140px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 30px;
    margin-bottom: 15px;
}
.btn-añadir-carrito:hover {
    transition: all .2s;
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;

}
.btn-añadir-carrito__text {
    margin: 0px;
}
.btn-añadir-carrito__text:hover {
    font-weight: bold;
}
.talle__caja {
    cursor: pointer;
    display: inline;
    width: 140px;
    height: 30px;
    font-size: 1em;
    border: 1px solid #838282;
    border-radius: 30px;
}
/* SECCIÓN PRODUCTO */
.productos__title {
    margin-top: 60px;
}
.productos__title .title__nombre {
    margin: 0px;
    font-size: 4em;
}
.seccion-producto {
    margin: 0;
    padding: 0;
}
.producto-nombre {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: #000000;
}
/* ENVÍOS / CÓMO COMPRAR */
.section {
    display: flex;
    flex-direction: column;
    margin: 80px 0px;
    padding: 0px 200px;
}
.title__nombre {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.9em;
    font-weight: bold;
    margin-bottom: 80px;
}

.info__title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
    color: #000000;
    margin-top: 30px;
    font-weight: 600;
}
.info__description {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
}

/* LOCALES */

.body__local {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.local__nombre {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    font-weight: 600;
}
.local__info {
    padding: 0px;
}
.local__info li {
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
}
.local__mapa {
    width: 70%;
}
.local__mapa iframe {
    width: 100%;
}


@media screen and (max-width: 1199px) {
    /* INICIO - DESTACADOS */
    .container-destacados {
        flex-wrap: wrap;
    }
    .container-destacados a {
        margin: 10px;
    }
    /*  */

    .productos__tipo a img {
        width: 60%;
        height: 100%;
    }
    /* SECCIÓN PRODUCTO */
    .container-product {
        flex-wrap: wrap;
    }
    .container-product a {
        margin: 10px;
    }
    .card {
        width: 13rem;
    }
}


@media screen and (max-width: 991px) {
    .navbar {
        padding: 20px 10px;
    }
    .container-nav {
        justify-content: space-between;
    }
    .navbar-brand {
        margin: 0px;
    }
    .offcanvas {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .descripcion__titulo {
        font-size: 1.3em;
    }
    .descripcion__parrafo {
        font-size: 1.1em;
    }
    /* INICIO - DESTACADOS */

    .container-destacados {
        flex-wrap: wrap;
    }
    .container-destacados a {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    /* GALERÍA */
    .section-products {
        flex-direction: column;
        margin: 10%;
    }

    /* INSTAGRAM */
    .section-ig {
        margin: 100px 20px;
    }
    .ig__title {
        font-size: 
        2.7em;
        padding-left: 20px;
    }
    .btn {
        color: #000000;
        width: 140px;
        height: 50px;
        background-color: #ffffff;
        border: 2px solid #000000;
    }
    .btn__text {
        color: #000000;
    }
    /* INFORMACIÓN COMPRAS */

    .info__tipo {
        margin-bottom: 50px;
    }
    /* NEWSLETTER */
    .section-newsletter {
        margin: 100px 20px;
    }
    .newsletter__title {
        font-size: 2.7em;
    }
    /* ENVÍOS / CÓMO COMPRAR */

    .section {
        padding: 0px 15px;
    }
    .info__title {
        font-size: 1.1em;
    }
    .info__description {
        font-size: 1em;
    }

    /* LOCALES */

    .local__mapa {
        width: 100%;
    }
    /* SECCIÓN PRODUCTO */
    
    .container-product {
        flex-wrap: wrap;
    }
    .container-product a {
        margin: 20px;
        display: flex;
        justify-content: center;
    }
    .card {
        width: 90%;
        margin: 0px;
    }
    .btn-product {
        color: #000000;
        width: 190px;
        height: 50px;
        background-color: #ffffff;
        border: 2px solid #000000;
    }
    .btn-product__text {
        color: #000000;
        font-size: .8em;
        font-weight: bold;
    }
}
@media screen and (max-width: 767px) {
    .offcanvas {
        width: 60%;
    }
    /* HEADER - CARRITO DE COMPRAS */
    .producto-info {
        margin-left: 5px;
        margin-right: 40px;
    }
    .producto-img {
        width: 90px;
    }
    .producto-carrito-nombre {
        text-align: start;
        font-size: .95em;
    }
    .producto-carrito-precio {
        font-size: 1em;
        font-weight: 600;
    }
    .container-cant-producto {
        width: 90%;
    }
    /* PRODUCTOS */
    .section-allshop {
        display: flex;
        flex-direction: column;
    }
    .container-filtrar {
        margin: 50px;
    }
    .filtrar__categorias {
        display: flex;
        flex-direction: row;
    }
    .categoria {
        padding-right: 10px;
    }
}
@media screen and (max-width: 540px) {
    /* HEADER */
    .offcanvas {
        width: 95%;
    }
    .offcanvas-body {
        padding: 0px 20px;
    }
    .nav-item {
        font-size: 1em;
    }
    /* HEADER - REDES */
    .section-redes {
        padding: 0px 20px;
    }
    /* HEADER - CARRITO DE COMPRAS */
    .producto-info {
        margin-left: 5px;
        margin-right: 40px;
    }
    .close-button {
        padding: 0px 20px;
        text-align: right;
    }
    .producto-carrito-nombre {
        text-align: start;
        font-size: .8em;
    }
    .producto-carrito-precio {
        font-size: 1em;
        font-weight: 600;
    }
    .container-cant-producto {
        width: 90%;
    }

    /* INICIO - IG */
    .ig__content {
        flex-direction: column;
    }
    .ig__title {
        padding: 0px;
    }
    /* PRODUCTOS */
    .filtrar__categorias {
        display: flex;
        flex-direction: column;
    }
}